<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <!-- <span class="subscribe__title">Subscribe</span> -->
        <!-- <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p> -->
       
       {% comment %}
       {% include subscribe-form.html %} 
      {% endcomment %}
      </div>
    </div>

    <hr class="sep--white"/>

    <div class="footer__container">
      

      {% include social.html %}
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "href": "https://myko.design/cookie-policy/"
  }
})});
</script>   


<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
