<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <!-- <span class="subscribe__title">Subscribe</span> -->
        <!-- <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p> -->
       
       {% comment %}
       {% include subscribe-form.html %} 
      {% endcomment %}
      </div>
    </div>

    <hr class="sep--white"/>

    <div class="footer__container">
      

      {% include social.html %}
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
<script type="text/javascript" src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"light","change_preferences_selector":"#changePreferences","language":"en","website_name":"Myko design","cookies_policy_url":"https://myko.design/cookies-policy"});
});
</script>

<noscript><a href="https://www.freeprivacypolicy.com/cookie-consent/">Cookie Consent by FreePrivacyPolicy.com</a></noscript>
<!-- End Cookie Consent -->


<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
